<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ItemsServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.ItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemsServlet</servlet-name>
    <url-pattern>/items</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditItemServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.EditItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditItemServlet</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.todo.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>
